@font-face {
  font-family: 'Open-Sans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans-Light';
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open-Sans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* line 1, ../sass/base/_common.scss */
* {
  box-sizing: border-box; }

/* line 5, ../sass/base/_common.scss */
body {
  margin: 0;
  font-family: Open-Sans-Regular; }

/* line 11, ../sass/base/_common.scss */
header {
  padding-top: 20px;
  width: 100%;
  position: fixed;
  z-index: 9999; }
  @media screen and (max-width: 992px) {
    /* line 11, ../sass/base/_common.scss */
    header {
      padding-top: 0px; } }
  @media screen and (max-width: 767px) {
    /* line 11, ../sass/base/_common.scss */
    header {
      padding-top: 0px; } }

/* line 2, ../sass/component/_headline.scss */
.heading h5 {
  font-size: 50px;
  font-size: 3.125em;
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-weight: 100; }
@media screen and (max-width: 992px) {
  /* line 11, ../sass/component/_headline.scss */
  .heading h5 {
    font-size: 40px; } }
@media screen and (max-width: 767px) {
  /* line 17, ../sass/component/_headline.scss */
  .heading h5 {
    font-size: 30px; } }

/* line 24, ../sass/component/_headline.scss */
.text p {
  padding-bottom: 40px;
  font-size: 14px;
  font-size: 0.875em; }
  @media screen and (max-width: 992px) {
    /* line 24, ../sass/component/_headline.scss */
    .text p {
      padding-bottom: 0px; } }

/* line 2, ../sass/component/_header.scss */
.logo img {
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    /* line 2, ../sass/component/_header.scss */
    .logo img {
      padding: 16px 0; } }
  @media only screen and (max-width: 767px) {
    /* line 2, ../sass/component/_header.scss */
    .logo img {
      padding: 20px 0; } }

/* line 16, ../sass/component/_header.scss */
.top-navbar .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 18px; }
  @media only screen and (max-width: 992px) {
    /* line 16, ../sass/component/_header.scss */
    .top-navbar .navbar-nav {
      margin: 0;
      text-align: center;
      padding-top: 50px; } }
  @media only screen and (max-width: 767px) {
    /* line 16, ../sass/component/_header.scss */
    .top-navbar .navbar-nav {
      text-align: center;
      margin: 0;
      padding-top: 50px;
      overflow: hidden; } }
  /* line 35, ../sass/component/_header.scss */
  .top-navbar .navbar-nav .navbar-item {
    display: inline-block; }
    /* line 38, ../sass/component/_header.scss */
    .top-navbar .navbar-nav .navbar-item:not(:last-child) {
      padding-right: 15px; }
    @media only screen and (max-width: 992px) {
      /* line 35, ../sass/component/_header.scss */
      .top-navbar .navbar-nav .navbar-item {
        padding: 10px 0px;
        display: block; } }
    @media only screen and (max-width: 767px) {
      /* line 35, ../sass/component/_header.scss */
      .top-navbar .navbar-nav .navbar-item {
        display: block;
        padding: 10px 0px; } }
    /* line 53, ../sass/component/_header.scss */
    .top-navbar .navbar-nav .navbar-item .navbar-link {
      text-decoration: none;
      color: #ffffff;
      padding: 40px 16px 20px 16px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: .2s ease-in; }
      /* line 61, ../sass/component/_header.scss */
      .top-navbar .navbar-nav .navbar-item .navbar-link:hover, .top-navbar .navbar-nav .navbar-item .navbar-link:focus {
        background: #74c7d5; }
      /* line 66, ../sass/component/_header.scss */
      .top-navbar .navbar-nav .navbar-item .navbar-link.active {
        color: #ffffff;
        background: #74c7d5; }
      @media only screen and (max-width: 992px) {
        /* line 53, ../sass/component/_header.scss */
        .top-navbar .navbar-nav .navbar-item .navbar-link {
          color: #727272;
          margin-right: 0;
          font-size: 30px;
          padding: 20px 16px 20px 16px;
          border-radius: 4px; }
          /* line 78, ../sass/component/_header.scss */
          .top-navbar .navbar-nav .navbar-item .navbar-link:hover {
            background: none; }
          /* line 82, ../sass/component/_header.scss */
          .top-navbar .navbar-nav .navbar-item .navbar-link.active {
            background: none; } }
      @media only screen and (max-width: 767px) {
        /* line 53, ../sass/component/_header.scss */
        .top-navbar .navbar-nav .navbar-item .navbar-link {
          color: #ffffff;
          font-size: 30px;
          padding: 0; }
          /* line 93, ../sass/component/_header.scss */
          .top-navbar .navbar-nav .navbar-item .navbar-link:hover {
            background: none; }
          /* line 97, ../sass/component/_header.scss */
          .top-navbar .navbar-nav .navbar-item .navbar-link.active {
            background: none; } }
@media only screen and (max-width: 992px) {
  /* line 15, ../sass/component/_header.scss */
  .top-navbar {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    transition: left .3s linear;
    padding-top: 150px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s; } }
@media only screen and (max-width: 767px) {
  /* line 15, ../sass/component/_header.scss */
  .top-navbar {
    display: none;
    transition: left .3s linear;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 80px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: 0.5s; } }

/* line 135, ../sass/component/_header.scss */
.head {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  padding: 10px;
  transition: .4s ease-in; }
  @media screen and (max-width: 992px) {
    /* line 135, ../sass/component/_header.scss */
    .head {
      transition: none;
      padding: 0; } }
  @media screen and (max-width: 767px) {
    /* line 135, ../sass/component/_header.scss */
    .head {
      transition: none;
      padding: 0; } }

/* line 1, ../sass/component/_submenu.scss */
#submenu {
  position: relative;
  display: inline-block; }
  /* line 5, ../sass/component/_submenu.scss */
  #submenu .sub-navbar {
    display: none;
    padding-top: 20px;
    display: none;
    min-width: 150px;
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
    z-index: 1;
    overflow: visible;
    top: 40px; }
    /* line 17, ../sass/component/_submenu.scss */
    #submenu .sub-navbar .subnav-item {
      box-shadow: 8px 8px 16px 16px rgba(0, 0, 0, 0.2);
      background: rgba(255, 255, 255, 0.3);
      padding: 0;
      border-radius: 4px; }
      /* line 23, ../sass/component/_submenu.scss */
      #submenu .sub-navbar .subnav-item li {
        display: block;
        text-align: center; }
        /* line 27, ../sass/component/_submenu.scss */
        #submenu .sub-navbar .subnav-item li a {
          text-decoration: none;
          padding: 8px 0px;
          display: block;
          font-size: 16px;
          color: black;
          margin: 0;
          border-radius: 4px; }
          /* line 37, ../sass/component/_submenu.scss */
          #submenu .sub-navbar .subnav-item li a:hover {
            color: #ffffff;
            background: rgba(0, 0, 0, 0.3); }
  /* line 52, ../sass/component/_submenu.scss */
  #submenu:hover .sub-navbar, #submenu:focus-within .sub-navbar {
    display: block; }

/* line 1, ../sass/component/_banner.scss */
.banner {
  color: #74c7d5;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  font-family: Open-Sans-SemiBold;
  overflow: hidden; }
  /* line 10, ../sass/component/_banner.scss */
  .banner .banner-inner {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    transition: all 0.3s ease-in-out;
    overflow: hidden; }
    @media screen and (max-width: 992px) {
      /* line 10, ../sass/component/_banner.scss */
      .banner .banner-inner {
        width: calc(100% - 120px);
        padding: 30px 10px; } }
    @media screen and (max-width: 767px) {
      /* line 10, ../sass/component/_banner.scss */
      .banner .banner-inner {
        width: calc(100% - 60px);
        padding: 30px 10px; } }
  /* line 33, ../sass/component/_banner.scss */
  .banner .left {
    font-size: 50px;
    font-size: 3.125em;
    line-height: 1;
    text-align: right; }
    @media screen and (max-width: 992px) {
      /* line 33, ../sass/component/_banner.scss */
      .banner .left {
        font-size: 48px; } }
    @media screen and (max-width: 767px) {
      /* line 33, ../sass/component/_banner.scss */
      .banner .left {
        font-size: 25px; } }
  /* line 48, ../sass/component/_banner.scss */
  .banner .right {
    font-size: 110px;
    font-size: 6.875em;
    line-height: 0.86;
    font-weight: 900;
    padding-left: 10px; }
    @media screen and (max-width: 767px) {
      /* line 48, ../sass/component/_banner.scss */
      .banner .right {
        font-size: 58px; } }

/* line 64, ../sass/component/_banner.scss */
.fadeIn-left {
  left: 20%; }

/* line 68, ../sass/component/_banner.scss */
.fadeIn-bottom {
  top: 80%; }

/* line 1, ../sass/component/_services.scss */
.services {
  background: #b24a50;
  padding-top: 100px;
  padding-bottom: 100px; }
  /* line 6, ../sass/component/_services.scss */
  .services .services-head {
    padding-bottom: 80px; }
    /* line 10, ../sass/component/_services.scss */
    .services .services-head p {
      font-size: 14px;
      font-size: 0.875em;
      text-align: center;
      color: #ffffff; }
      /* line 15, ../sass/component/_services.scss */
      .services .services-head p span {
        color: #df5c64; }
    /* line 20, ../sass/component/_services.scss */
    .services .services-head .para {
      font-size: 14px;
      font-size: 0.875em;
      color: #f5bbbe; }

/* line 1, ../sass/component/_services-block.scss */
.services-block {
  text-align: center;
  color: #ffffff;
  background-color: #c45158;
  padding: 40px 30px;
  cursor: pointer;
  transition: all 0.4s;
  height: 350px;
  border: 1px solid rgba(255, 255, 255, 0.1); }
  /* line 13, ../sass/component/_services-block.scss */
  .services-block .services-inner h3 {
    font-size: 26px;
    font-size: 1.625em;
    font-weight: 100;
    margin: 0;
    padding-top: 16px;
    transition: all 0.3s; }
  /* line 23, ../sass/component/_services-block.scss */
  .services-block .services-inner p {
    font-size: 14px;
    font-size: 0.875em;
    padding-top: 10px;
    transition-delay: 0.3s; }
  /* line 29, ../sass/component/_services-block.scss */
  .services-block .services-inner .icon {
    padding: 42px 4px 25px 4px;
    border: 4px solid #ffffff;
    border-radius: 100%;
    transition-delay: 0.3s; }
    /* line 35, ../sass/component/_services-block.scss */
    .services-block .services-inner .icon .fa-lightbulb-o {
      border-radius: 50%;
      background: #ffffff;
      padding: 20px 20px;
      font-size: 40px;
      color: #c45158;
      height: 80px;
      width: 80px;
      transition: background-color 1.4s ease-out; }
      /* line 45, ../sass/component/_services-block.scss */
      .services-block .services-inner .icon .fa-lightbulb-o:hover {
        background: #c45158;
        color: #ffffff; }
    /* line 52, ../sass/component/_services-block.scss */
    .services-block .services-inner .icon .fa-magic {
      border-radius: 50%;
      background: #ffffff;
      padding: 20px 20px;
      font-size: 40px;
      color: #c45158;
      height: 80px;
      width: 80px;
      transition: background-color 1.4s ease-out; }
      /* line 62, ../sass/component/_services-block.scss */
      .services-block .services-inner .icon .fa-magic:hover {
        background: #c45158;
        color: #ffffff; }
    /* line 69, ../sass/component/_services-block.scss */
    .services-block .services-inner .icon .fa-cogs {
      border-radius: 50%;
      background: #ffffff;
      padding: 20px 20px;
      font-size: 40px;
      color: #c45158;
      height: 80px;
      width: 80px;
      transition: background-color 1.4s ease-out; }
      /* line 79, ../sass/component/_services-block.scss */
      .services-block .services-inner .icon .fa-cogs:hover {
        background: #c45158;
        color: #ffffff; }
    /* line 86, ../sass/component/_services-block.scss */
    .services-block .services-inner .icon .fa-rocket {
      border-radius: 50%;
      background: #ffffff;
      padding: 20px 20px;
      font-size: 40px;
      color: #c45158;
      height: 80px;
      width: 80px;
      transition: background-color 1.4s ease-out; }
      /* line 96, ../sass/component/_services-block.scss */
      .services-block .services-inner .icon .fa-rocket:hover {
        background: #c45158;
        color: #ffffff; }
  /* line 108, ../sass/component/_services-block.scss */
  .services-block:hover {
    transform: translateY(-20px);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 992px) {
    /* line 1, ../sass/component/_services-block.scss */
    .services-block {
      margin-bottom: 30px; } }

/* line 1, ../sass/component/_team.scss */
.team {
  background-color: #665464;
  padding-top: 120px;
  padding-bottom: 100px;
  text-align: center;
  color: #ffffff; }
  /* line 8, ../sass/component/_team.scss */
  .team h3 {
    margin: 0;
    font-weight: 100;
    font-size: 50px;
    font-size: 3.125em; }
  /* line 14, ../sass/component/_team.scss */
  .team p {
    color: #e5d1e3; }
  /* line 18, ../sass/component/_team.scss */
  .team .headline {
    padding-bottom: 150px;
    position: relative; }
    /* line 22, ../sass/component/_team.scss */
    .team .headline h4 {
      font-size: 22px;
      font-size: 1.375em;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      margin: 0;
      padding: 16px 40px;
      background: #81a256;
      border-radius: 6px;
      letter-spacing: 1px; }
  /* line 35, ../sass/component/_team.scss */
  .team h4::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 90%;
    left: 42%;
    border-top: solid 20px #81a256;
    border-left: solid 20px transparent;
    border-right: solid 18px transparent; }
  @media screen and (max-width: 992px) {
    /* line 49, ../sass/component/_team.scss */
    .team .headline h4 {
      padding: 10px 18px;
      font-size: 18px; } }
  @media screen and (max-width: 767px) {
    /* line 58, ../sass/component/_team.scss */
    .team .headline h4 {
      padding: 10px 18px;
      font-size: 18px; } }

/* line 1, ../sass/component/_team-block.scss */
.team-member {
  text-align: center;
  background: #594957;
  cursor: pointer; }
  /* line 6, ../sass/component/_team-block.scss */
  .team-member .image {
    padding-top: 20px; }
    /* line 9, ../sass/component/_team-block.scss */
    .team-member .image img {
      border-radius: 50%;
      border: 3px solid #c45158; }
      /* line 14, ../sass/component/_team-block.scss */
      .team-member .image img:hover {
        transform: scale(1.05); }
  /* line 22, ../sass/component/_team-block.scss */
  .team-member h5 {
    margin: 0;
    padding-top: 10px;
    font-family: Open-Sans-Bold;
    color: #e5d1e3; }
  /* line 29, ../sass/component/_team-block.scss */
  .team-member p {
    padding-bottom: 20px;
    margin: 0;
    padding-top: 10px;
    color: #81a256; }
  /* line 37, ../sass/component/_team-block.scss */
  .team-member .icon {
    padding-bottom: 30px; }
    /* line 40, ../sass/component/_team-block.scss */
    .team-member .icon .fa-facebook-f {
      color: #ffffff;
      background: #665464;
      padding: 10px 10px;
      border-radius: 50%;
      margin: 5px;
      height: 35px;
      width: 35px; }
      /* line 49, ../sass/component/_team-block.scss */
      .team-member .icon .fa-facebook-f:hover {
        background: #4f689e; }
    /* line 54, ../sass/component/_team-block.scss */
    .team-member .icon .fa-twitter {
      color: #ffffff;
      background: #665464;
      padding: 10px 10px;
      border-radius: 50%;
      margin: 5px;
      height: 35px;
      width: 35px; }
      /* line 63, ../sass/component/_team-block.scss */
      .team-member .icon .fa-twitter:hover {
        background: #74c7d5; }
    /* line 68, ../sass/component/_team-block.scss */
    .team-member .icon .fa-google-plus {
      color: #ffffff;
      background: #665464;
      padding: 10px 8px;
      border-radius: 50%;
      margin: 5px;
      height: 35px;
      width: 35px; }
      /* line 77, ../sass/component/_team-block.scss */
      .team-member .icon .fa-google-plus:hover {
        background: #c45158; }
    /* line 82, ../sass/component/_team-block.scss */
    .team-member .icon .fa-linkedin {
      color: #ffffff;
      background: #665464;
      padding: 10px 10px;
      border-radius: 50%;
      margin: 5px;
      height: 35px;
      width: 35px; }
      /* line 91, ../sass/component/_team-block.scss */
      .team-member .icon .fa-linkedin:hover {
        background: #3e61af; }
  /* line 97, ../sass/component/_team-block.scss */
  .team-member:hover {
    background: #524350; }
    /* line 100, ../sass/component/_team-block.scss */
    .team-member:hover h5 {
      color: #ffffff; }
    /* line 104, ../sass/component/_team-block.scss */
    .team-member:hover p {
      color: #c45158; }
    /* line 108, ../sass/component/_team-block.scss */
    .team-member:hover img {
      transform: scale(1);
      transition: .3s ease-in-out; }
  @media screen and (max-width: 992px) {
    /* line 1, ../sass/component/_team-block.scss */
    .team-member {
      margin-bottom: 30px; } }
  @media screen and (max-width: 767px) {
    /* line 1, ../sass/component/_team-block.scss */
    .team-member {
      margin: 10px; } }

/* line 1, ../sass/component/_portfolio.scss */
.portfolio {
  background: #81a256;
  text-align: center;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 100px; }
  /* line 8, ../sass/component/_portfolio.scss */
  .portfolio h5 {
    font-size: 50px;
    font-size: 3.125em;
    margin: 0;
    font-weight: 100; }
  /* line 15, ../sass/component/_portfolio.scss */
  .portfolio p {
    color: #ffffff; }
  /* line 20, ../sass/component/_portfolio.scss */
  .portfolio .portfolio-nav {
    border-top: 1px solid #94b963;
    padding-top: 25px;
    border-bottom: 1px solid #94b963;
    padding-bottom: 25px; }
    /* line 26, ../sass/component/_portfolio.scss */
    .portfolio .portfolio-nav .navbar-brand {
      text-align: left;
      font-size: 20px; }
      @media screen and (max-width: 992px) {
        /* line 26, ../sass/component/_portfolio.scss */
        .portfolio .portfolio-nav .navbar-brand {
          font-size: 28px;
          padding-bottom: 16px; } }
      @media screen and (max-width: 767px) {
        /* line 26, ../sass/component/_portfolio.scss */
        .portfolio .portfolio-nav .navbar-brand {
          text-align: center; } }
    /* line 41, ../sass/component/_portfolio.scss */
    .portfolio .portfolio-nav .navbar .navbar-nav {
      list-style: none;
      margin: 0;
      font-family: Open-Sans-Bold; }
      @media screen and (max-width: 992px) {
        /* line 41, ../sass/component/_portfolio.scss */
        .portfolio .portfolio-nav .navbar .navbar-nav {
          padding: 0; } }
      @media screen and (max-width: 767px) {
        /* line 41, ../sass/component/_portfolio.scss */
        .portfolio .portfolio-nav .navbar .navbar-nav {
          padding: 0; } }
      /* line 55, ../sass/component/_portfolio.scss */
      .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item {
        display: inline-block; }
        /* line 58, ../sass/component/_portfolio.scss */
        .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item:not(:last-child) {
          padding-right: 30px; }
        @media screen and (max-width: 992px) {
          /* line 63, ../sass/component/_portfolio.scss */
          .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item:not(:last-child) {
            padding-right: 0px; } }
        @media screen and (max-width: 767px) {
          /* line 55, ../sass/component/_portfolio.scss */
          .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item {
            display: block;
            padding: 10px; }
            /* line 72, ../sass/component/_portfolio.scss */
            .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item:not(:last-child) {
              padding-right: 0px; } }
        /* line 77, ../sass/component/_portfolio.scss */
        .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item .navbar-link {
          font-size: 16px;
          font-size: 1em;
          text-decoration: none;
          color: #ffffff;
          border-radius: 4px;
          padding: 8px 10px; }
          /* line 84, ../sass/component/_portfolio.scss */
          .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item .navbar-link:hover {
            background-color: #f5c149;
            transition: 1s; }
          @media screen and (max-width: 992px) {
            /* line 77, ../sass/component/_portfolio.scss */
            .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item .navbar-link {
              padding: 8px 2px; } }
          @media screen and (max-width: 767px) {
            /* line 77, ../sass/component/_portfolio.scss */
            .portfolio .portfolio-nav .navbar .navbar-nav .navbar-item .navbar-link {
              font-size: 20px; } }

/* line 1, ../sass/component/_portfolio-images.scss */
.portfolio-images {
  padding-top: 50px;
  position: relative; }
  /* line 6, ../sass/component/_portfolio-images.scss */
  .portfolio-images .portfolio-col {
    padding-bottom: 20px; }
    /* line 9, ../sass/component/_portfolio-images.scss */
    .portfolio-images .portfolio-col .images {
      position: relative; }
      /* line 12, ../sass/component/_portfolio-images.scss */
      .portfolio-images .portfolio-col .images img {
        display: block;
        width: 100%; }
        @media screen and (max-width: 992px) {
          /* line 12, ../sass/component/_portfolio-images.scss */
          .portfolio-images .portfolio-col .images img {
            width: 100%; } }
        @media screen and (max-width: 767px) {
          /* line 12, ../sass/component/_portfolio-images.scss */
          .portfolio-images .portfolio-col .images img {
            width: 100%; } }
    /* line 30, ../sass/component/_portfolio-images.scss */
    .portfolio-images .portfolio-col .image-heading h5 {
      font-size: 14px;
      font-size: 0.875em;
      color: #727272;
      padding: 16px 50px;
      background: #ffffff;
      margin: 0;
      font-family: Open-Sans-Light; }
    /* line 39, ../sass/component/_portfolio-images.scss */
    .portfolio-images .portfolio-col .image-heading h5::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: 25%;
      left: 45%;
      border-bottom: solid 20px #ffffff;
      border-left: solid 20px transparent;
      border-right: solid 18px transparent; }
      @media screen and (max-width: 992px) {
        /* line 39, ../sass/component/_portfolio-images.scss */
        .portfolio-images .portfolio-col .image-heading h5::before {
          bottom: 23%; } }
      @media screen and (max-width: 767px) {
        /* line 39, ../sass/component/_portfolio-images.scss */
        .portfolio-images .portfolio-col .image-heading h5::before {
          bottom: 18%; } }
    @media screen and (max-width: 992px) {
      /* line 6, ../sass/component/_portfolio-images.scss */
      .portfolio-images .portfolio-col {
        padding-bottom: 30px; } }
    @media screen and (max-width: 767px) {
      /* line 6, ../sass/component/_portfolio-images.scss */
      .portfolio-images .portfolio-col {
        padding-bottom: 15px; } }

/* line 78, ../sass/component/_portfolio-images.scss */
.overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  opacity: 0;
  transition: all .8s ease-in-out;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  /* line 91, ../sass/component/_portfolio-images.scss */
  .overlay:hover {
    opacity: 1;
    cursor: pointer; }
  /* line 97, ../sass/component/_portfolio-images.scss */
  .overlay .fa-plus {
    transform: translateY(100%);
    top: 16%;
    left: 42%;
    font-weight: 100;
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 18px 0px;
    border-radius: 50%;
    border: 2px solid white; }

/* line 111, ../sass/component/_portfolio-images.scss */
h2 {
  transform: translateY(100%); }

/* line 1, ../sass/component/_contact.scss */
.contact-outer {
  background: #75b4aa;
  color: #ffffff;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px; }
  /* line 8, ../sass/component/_contact.scss */
  .contact-outer p {
    font-size: 14px;
    font-size: 0.875em;
    padding-bottom: 60px; }
  /* line 13, ../sass/component/_contact.scss */
  .contact-outer .address {
    text-align: left; }
    /* line 16, ../sass/component/_contact.scss */
    .contact-outer .address h4 {
      font-size: 26px;
      font-size: 1.625em;
      font-weight: 100;
      margin: 0;
      padding-bottom: 20px; }
    /* line 23, ../sass/component/_contact.scss */
    .contact-outer .address h6 {
      font-size: 20px;
      font-size: 1.25em;
      margin: 0;
      font-weight: 100;
      padding-bottom: 10px; }
    /* line 30, ../sass/component/_contact.scss */
    .contact-outer .address p {
      padding-bottom: 0px;
      margin: 0; }
  /* line 37, ../sass/component/_contact.scss */
  .contact-outer .phone-detail {
    text-align: left;
    padding-top: 70px; }
    /* line 41, ../sass/component/_contact.scss */
    .contact-outer .phone-detail div {
      margin: 0;
      padding-bottom: 0px; }
      /* line 45, ../sass/component/_contact.scss */
      .contact-outer .phone-detail div span {
        display: inline-block;
        width: 80px; }
  /* line 54, ../sass/component/_contact.scss */
  .contact-outer .google-map-image {
    padding-top: 60px; }
  /* line 58, ../sass/component/_contact.scss */
  .contact-outer .contact-form {
    text-align: left; }
    /* line 61, ../sass/component/_contact.scss */
    .contact-outer .contact-form h6 {
      font-size: 26px;
      font-size: 1.625em;
      font-weight: 100;
      margin: 0;
      padding-bottom: 20px; }
    /* line 68, ../sass/component/_contact.scss */
    .contact-outer .contact-form .form-elements {
      display: flex; }
      /* line 72, ../sass/component/_contact.scss */
      .contact-outer .contact-form .form-elements input[type=text] {
        font-size: 16px;
        font-size: 1em;
        padding: 10px;
        border-radius: 4px;
        border: none;
        width: 50%;
        background: #68a097;
        margin-right: 20px;
        color: #68a097; }
        /* line 82, ../sass/component/_contact.scss */
        .contact-outer .contact-form .form-elements input[type=text]:focus {
          background: #ffffff; }
          /* line 85, ../sass/component/_contact.scss */
          .contact-outer .contact-form .form-elements input[type=text]:focus::placeholder {
            visibility: hidden; }
        /* line 90, ../sass/component/_contact.scss */
        .contact-outer .contact-form .form-elements input[type=text]:last-child {
          margin-right: 0px; }
        @media screen and (max-width: 767px) {
          /* line 72, ../sass/component/_contact.scss */
          .contact-outer .contact-form .form-elements input[type=text] {
            width: 100%;
            margin: 6px 0; } }
      /* line 101, ../sass/component/_contact.scss */
      .contact-outer .contact-form .form-elements input::placeholder {
        color: #75b4aa; }
      /* line 105, ../sass/component/_contact.scss */
      .contact-outer .contact-form .form-elements textarea {
        font-size: 16px;
        font-size: 1em;
        padding: 10px;
        width: 100%;
        height: 162px;
        margin: 20px 0;
        width: 100%;
        border: none;
        border-radius: 4px;
        resize: none;
        font-family: 'Open Sans', sans-serif;
        background: #68a097;
        color: #68a097; }
        /* line 119, ../sass/component/_contact.scss */
        .contact-outer .contact-form .form-elements textarea:focus {
          background: #ffffff; }
          /* line 122, ../sass/component/_contact.scss */
          .contact-outer .contact-form .form-elements textarea:focus::placeholder {
            visibility: hidden; }
        @media screen and (max-width: 767px) {
          /* line 105, ../sass/component/_contact.scss */
          .contact-outer .contact-form .form-elements textarea {
            margin: 6px 0; } }
      /* line 131, ../sass/component/_contact.scss */
      .contact-outer .contact-form .form-elements textarea::placeholder {
        color: #75b4aa; }
      /* line 136, ../sass/component/_contact.scss */
      .contact-outer .contact-form .form-elements.full-width {
        width: 100%; }
      @media screen and (max-width: 767px) {
        /* line 68, ../sass/component/_contact.scss */
        .contact-outer .contact-form .form-elements {
          display: block; } }
  @media screen and (max-width: 992px) {
    /* line 1, ../sass/component/_contact.scss */
    .contact-outer {
      padding-top: 60px;
      padding-bottom: 60px; }
      /* line 150, ../sass/component/_contact.scss */
      .contact-outer .address {
        text-align: center; }
      /* line 154, ../sass/component/_contact.scss */
      .contact-outer .phone-detail {
        text-align: center;
        padding-top: 40px; }
      /* line 159, ../sass/component/_contact.scss */
      .contact-outer .google-map-image {
        padding-bottom: 30px; }
      /* line 164, ../sass/component/_contact.scss */
      .contact-outer .contact-form h6 {
        text-align: center; } }
  @media screen and (max-width: 767px) {
    /* line 1, ../sass/component/_contact.scss */
    .contact-outer {
      padding-top: 60px;
      padding-bottom: 60px; }
      /* line 174, ../sass/component/_contact.scss */
      .contact-outer p {
        padding-bottom: 36px; }
      /* line 178, ../sass/component/_contact.scss */
      .contact-outer .address {
        text-align: center; }
      /* line 182, ../sass/component/_contact.scss */
      .contact-outer .phone-detail {
        text-align: center;
        padding-top: 40px; }
      /* line 187, ../sass/component/_contact.scss */
      .contact-outer .google-map-image {
        padding-bottom: 20px; }
      /* line 192, ../sass/component/_contact.scss */
      .contact-outer .contact-form h6 {
        text-align: center; } }

/* line 1, ../sass/component/_button.scss */
.button {
  padding-top: 15px; }
  /* line 4, ../sass/component/_button.scss */
  .button button {
    font-size: 25px;
    font-size: 1.5625em;
    cursor: pointer;
    padding: 10px 80px;
    background: #df5c64;
    border: none;
    border-bottom: 3px solid #c45158;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    transition: 4s ease; }
    /* line 16, ../sass/component/_button.scss */
    .button button:hover {
      background: #c45158; }

/* line 1, ../sass/component/_footer.scss */
footer {
  background: #68a097;
  padding: 35px 0;
  text-align: center;
  font-family: 'Roboto'; }
  /* line 9, ../sass/component/_footer.scss */
  footer .footer-icon .fa-facebook-f {
    color: #ffffff;
    background: #75b4aa;
    padding: 14px 16px;
    border-radius: 15px;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    transition: 0.2s linear;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    /* line 21, ../sass/component/_footer.scss */
    footer .footer-icon .fa-facebook-f:hover {
      animation: aaa 0.7s 1;
      background: #ffffff;
      transform: scale(1.3);
      color: #75b4aa;
      backface-visibility: visible; }
  /* line 30, ../sass/component/_footer.scss */
  footer .footer-icon .fa-twitter {
    color: #ffffff;
    background: #75b4aa;
    padding: 14px 14px;
    font-size: 25px;
    border-radius: 15px;
    margin: 10px;
    height: 50px;
    width: 50px;
    transition: 0.2s linear;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    /* line 42, ../sass/component/_footer.scss */
    footer .footer-icon .fa-twitter:hover {
      animation: aaa 0.7s 1;
      background: #ffffff;
      transform: scale(1.3);
      color: #75b4aa;
      animation: aaa 0.7s 1;
      backface-visibility: visible; }
  /* line 52, ../sass/component/_footer.scss */
  footer .footer-icon .fa-google-plus {
    font-size: 25px;
    color: #ffffff;
    background: #75b4aa;
    padding: 12px 11px;
    border-radius: 15px;
    margin: 10px;
    height: 50px;
    width: 50px;
    transition: 0.2s linear;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    /* line 64, ../sass/component/_footer.scss */
    footer .footer-icon .fa-google-plus:hover {
      animation: aaa 0.7s 1;
      background: #ffffff;
      transform: scale(1.3);
      color: #75b4aa;
      backface-visibility: visible; }
  /* line 73, ../sass/component/_footer.scss */
  footer .footer-icon .fa-linkedin {
    color: #ffffff;
    font-size: 25px;
    background: #75b4aa;
    padding: 12px 14px;
    border-radius: 15px;
    margin: 10px;
    height: 50px;
    width: 50px;
    transition: all 0.5s ease;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s linear; }
    /* line 86, ../sass/component/_footer.scss */
    footer .footer-icon .fa-linkedin:hover {
      animation: aaa 0.7s 1;
      background: #ffffff;
      transform: scale(1.3);
      color: #75b4aa;
      backface-visibility: visible; }
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }
/* line 1, ../sass/component/_burger-menu.scss */
.nav-icon {
  border: 0;
  cursor: pointer;
  display: none;
  background: none;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 99999;
  transition: all 2s ease; }
  /* line 12, ../sass/component/_burger-menu.scss */
  .nav-icon .menu-item {
    background: #ffffff;
    height: 3px;
    width: 35px;
    display: none;
    margin: 0 0 10px; }
    @media screen and (max-width: 992px) {
      /* line 12, ../sass/component/_burger-menu.scss */
      .nav-icon .menu-item {
        display: block; } }
    @media screen and (max-width: 767px) {
      /* line 12, ../sass/component/_burger-menu.scss */
      .nav-icon .menu-item {
        display: block; } }
  /* line 31, ../sass/component/_burger-menu.scss */
  .nav-icon.open + .top-navbar {
    display: none;
    transition: all 2s ease; }
    @media screen and (max-width: 992px) {
      /* line 31, ../sass/component/_burger-menu.scss */
      .nav-icon.open + .top-navbar {
        display: block; } }
    @media screen and (max-width: 767px) {
      /* line 31, ../sass/component/_burger-menu.scss */
      .nav-icon.open + .top-navbar {
        display: block; } }
  /* line 45, ../sass/component/_burger-menu.scss */
  .nav-icon.open {
    transition: 0.5s; }
    /* line 48, ../sass/component/_burger-menu.scss */
    .nav-icon.open .menu-item {
      margin: 0 0 5px; }
      /* line 51, ../sass/component/_burger-menu.scss */
      .nav-icon.open .menu-item:first-child {
        transform: rotate(45deg);
        transform-origin: 10px; }
      /* line 56, ../sass/component/_burger-menu.scss */
      .nav-icon.open .menu-item:nth-child(2) {
        opacity: 0; }
      /* line 60, ../sass/component/_burger-menu.scss */
      .nav-icon.open .menu-item:nth-child(3) {
        transform: rotate(-45deg);
        transform-origin: 2px; }
    @media screen and (max-width: 992px) {
      /* line 45, ../sass/component/_burger-menu.scss */
      .nav-icon.open {
        display: block; } }
    @media screen and (max-width: 767px) {
      /* line 45, ../sass/component/_burger-menu.scss */
      .nav-icon.open {
        display: block; } }
  @media screen and (max-width: 992px) {
    /* line 1, ../sass/component/_burger-menu.scss */
    .nav-icon {
      display: block;
      top: 22px;
      right: 46px; } }
  @media screen and (max-width: 767px) {
    /* line 1, ../sass/component/_burger-menu.scss */
    .nav-icon {
      display: block;
      top: 24px;
      right: 34px; } }

/* line 1, ../sass/component/_animation.scss */
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }
/* line 1, ../sass/component/_page-load.scss */
.page-load {
  height: 100%;
  width: 100%;
  position: fixed;
  font-size: 50px;
  z-index: 99999;
  background: white;
  overflow: hidden; }
  /* line 10, ../sass/component/_page-load.scss */
  .page-load p {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin: 0;
    color: black;
    opacity: 1; }
  /* line 22, ../sass/component/_page-load.scss */
  .page-load .loading:after {
    content: '.';
    animation: dots 1s steps(5, end) infinite; }
@keyframes dots {
  0%,
        20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
  40% {
    color: orange;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
  60% {
    text-shadow: 0.25em 0 0 orange, 0.5em 0 0 rgba(0, 0, 0, 0); }
  80%,
        100% {
    text-shadow: .25em 0 0 orange, .5em 0 0 orange; } }
  @media screen and (max-width: 992px) {
    /* line 1, ../sass/component/_page-load.scss */
    .page-load {
      height: 100%;
      width: 100%;
      position: fixed;
      font-size: 50px;
      z-index: 99999;
      background: white;
      overflow: hidden; }
      /* line 67, ../sass/component/_page-load.scss */
      .page-load p {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        margin: 0;
        color: black;
        opacity: 1; }
      /* line 79, ../sass/component/_page-load.scss */
      .page-load .loading:after {
        content: '.';
        animation: dots 1s steps(5, end) infinite; }
    @keyframes dots {
      0%,
            20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
      40% {
        color: orange;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
      60% {
        text-shadow: 0.25em 0 0 orange, 0.5em 0 0 rgba(0, 0, 0, 0); }
      80%,
            100% {
        text-shadow: .25em 0 0 orange, .5em 0 0 orange; } } }
  @media screen and (max-width: 767px) {
    /* line 1, ../sass/component/_page-load.scss */
    .page-load {
      width: 100%;
      height: 100%;
      width: 100%;
      position: fixed;
      font-size: 50px;
      z-index: 99999;
      background: white;
      overflow: hidden; }
      /* line 126, ../sass/component/_page-load.scss */
      .page-load p {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
        margin: 0;
        color: black;
        opacity: 1; }
      /* line 138, ../sass/component/_page-load.scss */
      .page-load .loading:after {
        content: '.';
        animation: dots 1s steps(5, end) infinite; }
    @keyframes dots {
      0%,
            20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
      40% {
        color: orange;
        text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0); }
      60% {
        text-shadow: 0.25em 0 0 orange, 0.5em 0 0 rgba(0, 0, 0, 0); }
      80%,
            100% {
        text-shadow: .25em 0 0 orange, .5em 0 0 orange; } } }

/*# sourceMappingURL=style.css.map */
