//color
$white: #ffffff;
$black: #000000;
$grey: #727272;
$sky-blue:#74c7d5;
$cream: #d0c3af;
$gray: #eaedeb;
$light-red:#df5c64;
$orange: #f5bbbe;
$dark-red:#b24a50;
$red:#c45158;
$light-purple:#665464;
$purple: #594957;
$dark-purple:#524350;
$light-green:#94b963;
$green:#81a256;
$dark-green:#68a097;
$dark-blue:#4f689e;
$blue:#3e61af;
$yellow: #f5c149;
$light-blue:#75b4aa;
$light-pink: #e5d1e3;
